[submodule "talon_java"]
	path = talon_java
	url = https://github.com/crschnick/talon_java
[submodule "talon_german"]
	path = talon_german
	url = https://github.com/crschnick/talon_german
[submodule "talon_community"]
	path = talon_community
	url = https://github.com/crschnick/talon_community
